.lds-dual-ring {
    display: inline-block;
    width: 80px;
    height: 80px;
}
.lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #cccccc;
    border-color: #cccccc transparent #cccccc transparent;
    animation: lds-dual-ring 0.8s linear infinite;
}
@keyframes lds-dual-ring {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.m-05 {
   margin: .5rem;
}
.d-flex {
    display:flex;
    align-items: center;
    justify-content: center;
}